:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--gallery-gap: calc(var(--index) * 7.5)
}


.gallery {
	display: flex;
	padding: 0 0 calc(var(--index) * 8) 0;
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery__item {
    
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 8px;
}

.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}
.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
}
.gallery__right .gallery__item:first-child {
	margin-top: 0;
}
.gallery__left:first-child {
	margin-top: 0;
}
.text-block {
	color: var(--color-text);
	position: relative;
}
.text-block__h {
	font-size: 3rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
}
.text-block__p {
    font-size: 1.2rem;
	line-height: 1.75;
    color: var(--color-header);
    margin-bottom: 6rem;
}
.text-block__link {
    font-size: 1.3rem;
    color:aqua;
    display: inline-block;
    
}
.text-block__link:hover {
    font-weight: 900;
}
.text-block__link:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    display: block;
    height: 2px;
    width: 17%;
    background-color: aqua;
}
span,strong {
    color: blueviolet;
}

.last {
    margin-bottom: 0;
}

/* Scroll to TOP */


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: blueviolet;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    font-size: 24px;
	
}

#myBtn:hover {
    font-weight: 900;
}