.container_homepage {
    scroll-behavior: smooth;
    width: 1460px;
    
}

/* HEADER */


.header {   
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    padding: 0 15px;
    margin-bottom: 300px;
    
}

.header_title {
    width: 950px;
    text-align: center;
    color:aqua;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 25px;
}

.header_text {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 12px;
    margin-bottom: 52px;
    
    color: aqua;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none
}
.header_text a {
    color: blueviolet;
}
.header_text a:hover {
    color: blue;
}

.header_scroll a {
    display: inline-block;
    color: blueviolet;
    font-size: 20px;
    font-weight: 900;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    
     
}
span {
    color: blueviolet;
}
/* CONTENT BOX */



.section_container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    
    
    
    
}
.section_article {
    padding-left: 60px;
    margin-right: 100px;
    max-width: 602px;
}


.section_article_title {
    color: gold;
    font-size: 44px;
    font-weight: 700;
    max-width: 555px;
    margin-bottom: 77px;
    line-height: 1.2;
    
}
.section_article_text {
    padding-right: 16px;
    max-width: 632px;
    color: aqua;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.78;
    margin-bottom: 27px;
}
.section_link a{
    position: relative;
    display: inline-block;
    color: rgb(255, 251, 0);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.222;
    padding-right: 16px;
}
.section_link a:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    display: block;
    height: 2px;
    width: 88.9%;
    background-color: yellow;
}

/*IMAGE CONTENT BOX*/


.section_img {
    width: 55%;
    height: 600px;
    margin: 0 auto;
    border-radius: 4px;
    background-image: url("./image/PeopleImg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    
}
.planets {
    background-image: url("./image/PlanetsImg.jpg");
}
.species {
    background-image: url("./image/SpeciesImg.jpg");
}
.starships {
    background-image: url("./image/StarshipsImg.jpg");
}
.vehicles {
    background-image: url("./image/VehiclesImg.jpg");
    
}

.films {
    background-image: url("./image/FilmsImg.jpg");
}

/* FOOTER */
.footer {
   
    margin-top: 100px;
}