@import "./App.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import "./new.css";
@import "./Films.css";
@import "./Homepage.css";


body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/src/image/BackgroundImage.jpg");
  scroll-behavior: smooth;
}

code {
  font-family: 'DM Sans', sans-serif;
  ;
}

/* NAVBAR CONTENT */


.nav {
  padding: 20px 0;
  border-bottom: 1px solid #171718;
}
.nav:hover {
  background-color: #ffffff25;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  font-size: 22px;
  font-weight: 100;
}
.navbar__item:hover {
  font-weight: 900;
}
.customlink::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #00bfff;
}
.section {
  padding-top: 70px;
  scroll-behavior: smooth;
}
/* BUTTON */


button {
  border: 2px solid gold;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 100;
  color: gold;
  width: 42px;
}
button:hover {
  font-weight: 900;
  color: #00bfff;
}
.btn {
  position: sticky;
  top: 500px;
  width: 550px;
  min-height: 40px;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

/* PAGINATION */



.pag_item:hover { 
  font-weight: 900;
}
.pagination_container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}
